*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* ----- CSS HEADER ----- */
header {
    
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 260px;
    animation :doiheader 7s infinite; 
}

h1.chu{
    line-height:225px;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 90px;
    color: black;
    animation: doimauchunen 1s infinite;   
}


@keyframes doiheader {
    
    from {
        background-image: url(/images/dl1.jpg);
      }
    to {
        background-image: url(/images/dl2.jpg);
    }
}


/* ----- CSS NAV ----- */

nav#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
ul.menu1 {
    text-align: center;
    font-weight: bold;
   
    font-size:22px;
    box-shadow:1px 2px 3px black;
    list-style-type: none;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin: 0;
    padding: 0; 
   
}
ul.menu1 > li {
    width : 25%;
    border-right:2px solid black;
    text-align: center;
    font-weight:bold;
    background-image: linear-gradient(to right,  white , pink, white);
}
ul.menu1 > li:last-child {
    border-right:none;
}
ul.menu1 > li > a {
    display : block;
    padding: 15px 20px;
    color : black;
    text-decoration: none;
    font-size: 25px;
}
ul.menu1 > li > a:hover {
    background-image: linear-gradient(to right, rgba(73, 11, 243, 0.192), white, rgba(243, 11, 224, 0.192));
    text-decoration:none;
}
ul.mien a {
    text-decoration: none;
}
ul.mien > li {
    list-style-type : none;
}
.mien{
    width: 24.5%;
    display: none !important;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.amthuc:hover .mien {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
ul.mien{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.mien > li {
    text-align: center;
    background-color:white;
}
ul.mien >li > a {
    display: block;
    padding: 4px 17px;
    color: black;
}
ul.mien >li >a:hover{
    background-image: linear-gradient(to right, rgba(255, 192, 203, 0.534), #c6e4eb);
    text-decoration: none;
    font-size: 2vw;
 }


 /* ----- UL SHARE ----- */
 ul.share {
   
    list-style-type: none;
    padding: 0;
}
ul.share  > li {
    background-color: red;
    border-bottom: 1px solid black;
    position: fixed;
    width: 150px;
    left: -110px;
    z-index: 999;
    display: flex;
}
li.l1 {
    top: 230px;
}
li.l2 {
    top: 275px;
}
li.l3 {
    top: 320px;
}
li.l4 {
    top: 365px;
}

ul.share > li:hover {
    left: 0;
}
ul.share  > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
}
ul.share  > li > a:hover {
    animation: bold 0.9s infinite;
}

ul.share  > li > i {
    padding-top: 7px;
    color: white;
    font-size: 29px;
}
li.l1 > i {
    margin-left: 23px;
}
li.l2> i {
    margin-left: 18px;
}
li.l3 > i {
    margin-left: 33px;
}
li.l4 > i {
    margin-left: 49px;
}

@keyframes bold {
    from {
       font-weight: bold
    }
    to {
        font-weight: normal;
    }
}



    
 /* ----- CSS SECTION ----- */

div.content {
    display: flex;
    width: 100%;
}

div.left {
    margin: 100px 15px 0 30px;
    width: 30%;
}
div.right {
    
    padding:  30px 35px 30px 0;
}
 

/* ----- LEFT ----- */

div.img img {
    padding: 10px 10px 14px 70px;
    width: 85%;
    transition: transform 2s;
}

div.img img:hover {
    transform: scale(1.5, 1.5);
}
.map {
    margin: 10px 20px;
}
div.map > p {
    text-align: center;
}
div.map a:nth-child(1) {
    font-weight: bold;
    animation: dulich 0.5s infinite;
}
@keyframes dulich {
    from {
        color: white;
    }
    to {
        color: red;
    }
}


.i1 {
    margin-top: 45px;
}
.i2 {
    margin-top: 155px; 
}

.i3 {
    margin-top: 220px; 
}

.i4 {
    margin-top: 300px; 
}

.i5 {
    margin-top: 320px;
}

.i6 {
    margin-top: 305px;
}

.i7 {
    margin-top: 150px;
}
.i8 {
    margin-top: 180px;
}
.i9 {
    margin-top: 190px;
}
.i10 {
    margin-top: 255px;
}
.i11 {
    margin-top: 360px;
}
.i12 {
    margin-top: 220px;
}
.i13 {
    margin-top: 135px;
}
.i14 {
    margin-top: 160px;
}
.i15 {
    margin-top: 165px;
}
.i16 {
    margin-top: 260px;
}
.i17 {
    margin-top: 160px;
}
.i18 {
    margin-top: 165px;
}
.i19 {
    margin-top: 185px;
}
.i20 {
    margin-top: 125px;
}





/* ----- RIGHT ----- */

div.season > h1 {
    padding: 20px 0 20px 0; 
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.904);
    animation: doimauchuh1 2.5s infinite; 
    color: red;
    text-align: right;
}
   
div.season p {
    padding: 20px;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.815);
}

div.place {
    margin-bottom: 150px;
    border: 1px solid black;
    background-repeat: no-repeat; 
    background-size: 100%;
    box-shadow: 5px 5px 8px black;
}

div.place > h2 {
    padding: 10px 0 10px 0 ;
    text-align: center;
    font-weight: bold;
    color: blue;
    margin: 30px 0 30px 0;
    background-color: rgba(255, 255, 255, 0.822);
}

div.plc1 {
    background-image: url("/images/mocchau2.jpg");
}
div.plc2 {
    background-image: url("/images/yentu_quangninh.jpg");
}
div.plc3 {
    background-image: url("/images/trangan.jpg");
}
div.plc4 {
    background-image: url("/images/dalat.jpg");
}
div.plc5 {
    background-image: url("/images/baidinh.jpg");
}
div.plc6 {
    background-image: url("/images/tamdao.jpg");
}
div.plc7 {
    background-image: url("/images/nhatrang.jpg");
}
div.plc8 {
    background-image: url("/images/vinhhalong.jpg");
}
div.plc9 {
    background-image: url("/images/danang.jpg");
}
div.plc10 {
    background-image: url("/images/hue.jpg");
}
div.plc11 {
    background-image: url("/images/hagiang.jpg");
}
div.plc12 {
    background-image: url("/images/hobabe.jpg");
}
div.plc13 {
    background-image: url("/images/hanoi.jpg");
}
div.plc14 {
    background-image: url("/images/vinhlanha.jpg");
}
div.plc15 {
    background-image: url("/images/phuquoc.jpg");
}
div.plc16 {
    background-image: url("/images/sapa.jpg");
}
div.plc17 {
    background-image: url("/images/mauson.jpg");
}
div.plc18 {
    background-image: url("/images/condao.jpg");
}
div.plc19 {
    background-image: url("/images/maichau_hoabinh.jpg");
}
div.plc20 {
    background-image: url("/images/chophienbacha.jpg");
}



/* ----- GO TO TOP ----- */

#a {
    display: block;
    padding:1px 13px;
    position: fixed;
    right: 0px;
    bottom: 50px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}


 /* ----- CSS FOOTER ----- */

 footer{
    margin-bottom:35px;
    padding-top:50px;
    background-image: url(/images/bg-dl.jpg);
    background-repeat: no-repeat;  
    background-size: 100%;
    height: 270px;
}

.tour {
    position:fixed;
    bottom: 0;
    background-image: linear-gradient(to right,white, pink, white);
    animation: chaychu 60s infinite;
    width: 100%;
    padding: 9px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin: 0;
}
@keyframes chaychu {
    0% {
        padding-left: 0.5%;
    }
    50%{
        padding-left: 84%;
    }
    100% {
        padding-left: 0.5%;
    }
}

div.contact > h4 {
    font-weight: bold;
    font-size: 30px;
    color: yellow;
}
div.contact {
    margin-top: 40px;
    text-align: center;
}
ul.social {
    padding: 0;
}
ul.social > li  {
    list-style-type: none;
    font-weight: bold;
    color: blue;
    
}
ul.social > li a {
    text-decoration:none;
    color: blue;
}
ul.social > li a:hover {
    color: yellow;
}



